absl-py==1.3.0
aiocron==1.8
aiofiles==23.2.1
aiogram==3.2.0
aiohttp==3.9.1
aiosignal==1.3.1
altgraph==0.17.2
annotated-types==0.6.0
APScheduler==3.10.4
async-timeout==4.0.3
attrs==22.2.0
auto-py-to-exe==2.18.0
beautifulsoup4==4.11.1
bottle==0.12.19
bottle-websocket==0.2.9
branca==0.7.0
cachetools==5.3.2
certifi==2023.11.17
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
comtypes==1.1.10
croniter==2.0.1
cvzone==1.5.6
cycler==0.11.0
DAWG-Python==0.7.2
Eel==0.12.4
exceptiongroup==1.2.0
filelock==3.12.4
Flask==2.0.2
Flask-Login==0.6.0
Flask-WTF==1.0.0
flatbuffers==22.12.6
folium==0.15.1
fonttools==4.36.0
frozenlist==1.4.0
future==0.18.2
gevent==21.12.0
gevent-websocket==0.10.1
google-api-core==2.14.0
google-api-python-client==2.48.0
google-auth==2.23.4
google-auth-httplib2==0.1.1
Google-Images-Search==1.4.6
googleapis-common-protos==1.61.0
greenlet==1.1.2
h11==0.14.0
httplib2==0.22.0
idna==3.3
iso8601==1.0.2
itsdangerous==2.0.1
Jinja2==3.0.3
keyboard==0.13.5
kiwisolver==1.4.4
lxml==4.8.0
magic-filter==1.0.12
MarkupSafe==2.0.1
matplotlib==3.5.3
mediapipe==0.9.0.1
MouseInfo==0.1.3
mpmath==1.3.0
multidict==6.0.4
networkx==3.1
numpy==1.26.2
opencv-contrib-python==4.6.0.66
opencv-python==4.5.5.64
outcome==1.3.0.post0
packaging==21.3
pandas==2.1.4
pefile==2021.9.3
Pillow==9.0.1
protobuf==3.20.3
py3minepi==0.0.1.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyAutoGUI==0.9.53
pycparser==2.21
pydantic==2.5.2
pydantic_core==2.14.5
pyfiglet==0.8.post1
pygame==2.1.0
pygame-ce==2.4.0
pygame-gui==0.6.9
pygame-menu==4.2.5
PyGetWindow==0.0.9
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.3
pymorphy3==2.0.1
pymorphy3-dicts-ru==2.4.417150.4580142
PyMsgBox==1.0.9
pyparsing==3.0.9
pyperclip==1.8.2
pypiwin32==223
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqtgraph==0.13.1
PyRect==0.2.0
PyScreeze==0.1.28
pyserial==3.5
PySocks==1.7.1
pyTelegramBotAPI==4.11.0
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-i18n==0.3.9
python-pptx==0.6.21
python-resize-image==1.1.20
pyttsx3==2.90
pytweening==1.0.4
pytz==2023.3.post1
pywin32==303
pywin32-ctypes==0.2.0
PyYAML==6.0
requests==2.27.1
rsa==4.9
selenium==4.16.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.32
SQLAlchemy-serializer==1.4.1
stop-words==2018.7.23
sympy==1.12
telebot==0.0.5
termcolor==1.1.0
torch==2.0.1
trio==0.23.2
trio-websocket==0.11.1
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
uritemplate==4.1.1
urllib3==1.26.8
Werkzeug==2.0.2
whichcraft==0.6.1
wikipedia==1.4.0
wordcloud==1.8.2.2
wsproto==1.2.0
WTForms==3.0.1
XlsxWriter==3.0.3
xyzservices==2023.10.1
yarl==1.9.3
zope.event==4.5.0
zope.interface==5.4.0
